In [1]:
from pymongo import MongoClient

In [2]:
client = MongoClient()

client = MongoClient("mongodb://localhost:27017/")
mydatabase = client["Students"]

collection = mydatabase['studentscores']

In [3]:
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}]

In [4]:
collection.insert_many(data)

In [5]:
agg_result = collection.aggregate(
    [{
        "$group":
        {"_id":"$user",
        "Total_subject":{"$sum":1}}
    }]
)

In [6]:
for i in agg_result:
    print(i)

{'_id': 'Krish', 'Total_subject': 3}
{'_id': 'Amit', 'Total_subject': 3}

In [7]:
agg_result = collection.aggregate(
    [{
        "$group":
        {"_id":"$user",
        "Total Marks":{"$sum":"$score"}}
    }]
)

In [8]:
for i in agg_result:
    print(i)

{'_id': 'Krish', 'Total Marks': 250}
{'_id': 'Amit', 'Total Marks': 235}

In [9]:
agg_result = collection.aggregate(
    [{
        "$group":
        {"_id":"$user",
        "StudentScoreAverage":{"$avg":"$score"}}
    }]
)

In [10]:
for i in agg_result:
    print(i)

{'_id': 'Krish', 'StudentScoreAverage': 83.33333333333333}
{'_id': 'Amit', 'StudentScoreAverage': 78.33333333333333}

In [11]:
import datetime

In [12]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [13]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2023, 1, 27, 11, 57, 19, 923268)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2023, 1, 27, 11, 57, 19, 923268)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2023, 1, 27, 11, 57, 19, 923268)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2023, 1, 27, 11, 57, 19, 923268)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2023, 1, 27, 11, 57, 19, 923268)}]

In [14]:
mycoll = mydatabase['stores']
mycoll.insert_many(data)

In [15]:
agg_result = mycoll.aggregate([
    {
        "$group":{
            "_id" : '$item',
            "avgAmount":{"$avg":{"$multiply":["$price","$quantity"]}},
            "avgQuantity":{"$avg":"$quantity"}
        }
    }
])

In [21]:
for i in agg_result:
    print(i)

{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}
{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}

In [16]:
#### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [17]:
collection = mydatabase['Books']

In [18]:
collection.insert_many(data)