In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [3]:
mydb  = client["Employee"]

In [4]:
information = mydb.employeeinformation

In [5]:
record = {
    'firstname':'Raj',
    'lastname':'Pandey',
    'department':'Analytics'
}

In [6]:
information.insert_one(record)

In [7]:
record = [{
    'firstname':'Raj',
    'lastname':'Pandey',
    'department':'Analytics'
},{
    'firstname':'Raj1',
    'lastname':'Pandey1',
    'department':'Analytics1'
},{
    'firstname':'Raj2',
    'lastname':'Pandey2',
    'department':'Analytics2'
},{
    'firstname':'Raj3',
    'lastname':'Pandey3',
    'department':'Analytics3'
}]

In [8]:
information.insert_many(record)

In [9]:
record = {
    'firstname':'Raj',
    'lastname':'Pandey',
    'department':'Analytics',
    'qualification':'BTech',
    'age':22
}
information.insert_one(record)

In [10]:
record = [{
    'firstname':'Raj',
    'lastname':'Pandey',
    'department':'Analytics',
    'qualification':'BTech',
    'age':22
}, {
    'firstname':'Raj1',
    'lastname':'Pandey1',
    'department':'Analytics1',
    'qualification':'BTech1',
    'age':23
}, {
    'firstname':'Raj2',
    'lastname':'Pandey2',
    'department':'Analytics2',
    'qualification':'BTech2',
    'age':24
}, {
    'firstname':'Raj3',
    'lastname':'Pandey3',
    'department':'Analytics3',
    'qualification':'BTech3',
    'age':25
}, {
    'firstname':'Raj4',
    'lastname':'Pandey4',
    'department':'Analytics4',
    'qualification':'BTech4',
    'age':25
}]

In [11]:
information.insert_many(record)

In [12]:
# simple way of querying

In [14]:
information.find_one()

{'_id': ObjectId('63d101a097be06deeeec96fc'),
 'firstname': 'Raj',
 'lastname': 'Pandey',
 'department': 'Analytics'}

In [16]:
for i in information.find():
    print(i)

{'_id': ObjectId('63d101a097be06deeeec96fc'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics'}
{'_id': ObjectId('63d1036e97be06deeeec96fd'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics'}
{'_id': ObjectId('63d1036e97be06deeeec96fe'), 'firstname': 'Raj1', 'lastname': 'Pandey1', 'department': 'Analytics1'}
{'_id': ObjectId('63d1036e97be06deeeec96ff'), 'firstname': 'Raj2', 'lastname': 'Pandey2', 'department': 'Analytics2'}
{'_id': ObjectId('63d1036e97be06deeeec9700'), 'firstname': 'Raj3', 'lastname': 'Pandey3', 'department': 'Analytics3'}
{'_id': ObjectId('63d104eb97be06deeeec9701'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics', 'qualification': 'BTech', 'age': 22}
{'_id': ObjectId('63d1057697be06deeeec9702'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics', 'qualification': 'BTech', 'age': 22}
{'_id': ObjectId('63d1057697be06deeeec9703'), 'firstname': 'Raj1', 'lastname': 'Pandey1', 'department': 'Analytics1', 'qualification': 'BTech1', 'age': 23}
{'_id': ObjectId('63d1057697be06deeeec9704'), 'firstname': 'Raj2', 'lastname': 'Pandey2', 'department': 'Analytics2', 'qualification': 'BTech2', 'age': 24}
{'_id': ObjectId('63d1057697be06deeeec9705'), 'firstname': 'Raj3', 'lastname': 'Pandey3', 'department': 'Analytics3', 'qualification': 'BTech3', 'age': 25}
{'_id': ObjectId('63d1057697be06deeeec9706'), 'firstname': 'Raj4', 'lastname': 'Pandey4', 'department': 'Analytics4', 'qualification': 'BTech4', 'age': 25}

In [17]:
for i in information.find({}):
    print(i)

{'_id': ObjectId('63d101a097be06deeeec96fc'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics'}
{'_id': ObjectId('63d1036e97be06deeeec96fd'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics'}
{'_id': ObjectId('63d1036e97be06deeeec96fe'), 'firstname': 'Raj1', 'lastname': 'Pandey1', 'department': 'Analytics1'}
{'_id': ObjectId('63d1036e97be06deeeec96ff'), 'firstname': 'Raj2', 'lastname': 'Pandey2', 'department': 'Analytics2'}
{'_id': ObjectId('63d1036e97be06deeeec9700'), 'firstname': 'Raj3', 'lastname': 'Pandey3', 'department': 'Analytics3'}
{'_id': ObjectId('63d104eb97be06deeeec9701'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics', 'qualification': 'BTech', 'age': 22}
{'_id': ObjectId('63d1057697be06deeeec9702'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics', 'qualification': 'BTech', 'age': 22}
{'_id': ObjectId('63d1057697be06deeeec9703'), 'firstname': 'Raj1', 'lastname': 'Pandey1', 'department': 'Analytics1', 'qualification': 'BTech1', 'age': 23}
{'_id': ObjectId('63d1057697be06deeeec9704'), 'firstname': 'Raj2', 'lastname': 'Pandey2', 'department': 'Analytics2', 'qualification': 'BTech2', 'age': 24}
{'_id': ObjectId('63d1057697be06deeeec9705'), 'firstname': 'Raj3', 'lastname': 'Pandey3', 'department': 'Analytics3', 'qualification': 'BTech3', 'age': 25}
{'_id': ObjectId('63d1057697be06deeeec9706'), 'firstname': 'Raj4', 'lastname': 'Pandey4', 'department': 'Analytics4', 'qualification': 'BTech4', 'age': 25}

In [19]:
for i in information.find({'firstname':"Raj"}):
    print(i)

{'_id': ObjectId('63d101a097be06deeeec96fc'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics'}
{'_id': ObjectId('63d1036e97be06deeeec96fd'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics'}
{'_id': ObjectId('63d104eb97be06deeeec9701'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics', 'qualification': 'BTech', 'age': 22}
{'_id': ObjectId('63d1057697be06deeeec9702'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics', 'qualification': 'BTech', 'age': 22}

In [26]:
for i in information.find({'qualification':{'$in':['BTech1','BTech','BTech2','BTech3','BTech4']}}):
    print(i)

{'_id': ObjectId('63d104eb97be06deeeec9701'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics', 'qualification': 'BTech', 'age': 22}
{'_id': ObjectId('63d1057697be06deeeec9702'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics', 'qualification': 'BTech', 'age': 22}
{'_id': ObjectId('63d1057697be06deeeec9703'), 'firstname': 'Raj1', 'lastname': 'Pandey1', 'department': 'Analytics1', 'qualification': 'BTech1', 'age': 23}
{'_id': ObjectId('63d1057697be06deeeec9704'), 'firstname': 'Raj2', 'lastname': 'Pandey2', 'department': 'Analytics2', 'qualification': 'BTech2', 'age': 24}
{'_id': ObjectId('63d1057697be06deeeec9705'), 'firstname': 'Raj3', 'lastname': 'Pandey3', 'department': 'Analytics3', 'qualification': 'BTech3', 'age': 25}
{'_id': ObjectId('63d1057697be06deeeec9706'), 'firstname': 'Raj4', 'lastname': 'Pandey4', 'department': 'Analytics4', 'qualification': 'BTech4', 'age': 25}

In [28]:
for i in information.find({'qualification':{'$in':['BTech','BTech1','BTech2']},'age':{'$lt':35}}):
    print(i)

{'_id': ObjectId('63d104eb97be06deeeec9701'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics', 'qualification': 'BTech', 'age': 22}
{'_id': ObjectId('63d1057697be06deeeec9702'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics', 'qualification': 'BTech', 'age': 22}
{'_id': ObjectId('63d1057697be06deeeec9703'), 'firstname': 'Raj1', 'lastname': 'Pandey1', 'department': 'Analytics1', 'qualification': 'BTech1', 'age': 23}
{'_id': ObjectId('63d1057697be06deeeec9704'), 'firstname': 'Raj2', 'lastname': 'Pandey2', 'department': 'Analytics2', 'qualification': 'BTech2', 'age': 24}

In [29]:
for i in information.find({'$or':[{'firstname':'Raj'},{'qualification':'BTech'}]}):
    print(i)

{'_id': ObjectId('63d101a097be06deeeec96fc'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics'}
{'_id': ObjectId('63d1036e97be06deeeec96fd'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics'}
{'_id': ObjectId('63d104eb97be06deeeec9701'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics', 'qualification': 'BTech', 'age': 22}
{'_id': ObjectId('63d1057697be06deeeec9702'), 'firstname': 'Raj', 'lastname': 'Pandey', 'department': 'Analytics', 'qualification': 'BTech', 'age': 22}

In [33]:
for i in information.find({'$and':[{'firstname':'Raj1'},{'qualification':'BTech1'}]}):
    print(i)

{'_id': ObjectId('63d1057697be06deeeec9703'), 'firstname': 'Raj1', 'lastname': 'Pandey1', 'department': 'Analytics1', 'qualification': 'BTech1', 'age': 23}

In [34]:
inventory = mydb.inventory

In [35]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [36]:
for i in inventory.find():
    print(i)

{'_id': ObjectId('63d10be697be06deeeec9707'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'_id': ObjectId('63d10be697be06deeeec9708'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'A'}
{'_id': ObjectId('63d10be697be06deeeec9709'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'_id': ObjectId('63d10be697be06deeeec970a'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'_id': ObjectId('63d10be697be06deeeec970b'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

In [38]:
for i in inventory.find({'size':{'h':14,'w':21,'uom':"cm"}}):
    print(i)

{'_id': ObjectId('63d10be697be06deeeec9707'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

In [39]:
inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

In [41]:
inventory.update_one(
    {"item":"sketch pad"},
    {'$set':{"size.uom":"m","status":"P"},
    "$currentDate":{"lastmodified":True}}    
)

In [42]:
inventory.update_many(
  {"qty":{"$lt":50}},
  {"$set":{"size.uom":"in","status":"P"},
  "$currentDate":{"lastModified":True}}  
)

In [45]:
l = []
for  i in inventory.find():
    l.append(i)

In [49]:
import pandas as pd

In [50]:
df = pd.DataFrame(l[0])

In [54]:
df.shape

(3, 6)

In [55]:
inventory.replace_one(
    {'item':'paper'},
    {'item':"paper",
    "instock":[
        {"warehouse":"A","qty":60},
        {"warehouse":"B","qty":40}
    ]}
)