In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
import numpy as np
import pandas as pd
import datetime
from adbrew_core.settings import db
from adbrew_core.db import accessor
from adbrew_core.utils import conversion_rates
from adbrew_core.rule_engine import rule_engine_variables
from adbrew_core.db import bid_management_task

In [7]:
df = pd.read_csv("account_data.csv")

In [8]:
df.head(2)

,Unnamed: 0,accountId,adGroupId,campaignId,keywordId,date,sales,spend,clicks,impressions,orders,cur,account_type
0,0,5ffdb895b08512986422b08c,265947652253786,278924003146587,178532402627801,2022-01-20,0.0,2.81,1.0,7.0,0.0,INR,vendor
1,1,5ffdb895b08512986422b08c,102056862761827,57804152586859,217252402080046,2022-01-20,0.0,0.00,0.0,19.0,0.0,INR,vendor

In [55]:
a = db.account_details.find({"active":True})

In [56]:
l = []

In [57]:
for i in a:
    l.append(i)

In [60]:
str(l[0]['_id'])

'5ffdb895b08512986422b08c'

In [61]:
len(l)

340

In [64]:
unique = df['accountId'].unique()

In [75]:
unique

array(['5ffdb895b08512986422b08c', '6013fbaaaadf53eb56518f43',
       '613b51d1565006d4e2b60924', '615451dfe1e966fb58822ed6',
       '61b3133728133e8d9e12b44a', '61b7ea05aa9248e907a3a4fe',
       '61b8929c7f1731fdf842d921', '61e83a4740598119fc405f5f',
       '61f7720e169a5b91c7df71d3', '6215bded0e0c2c6c8cdff5c1',
       '621e270ca49d1163c27d1f49', '621f017b51283da3bc7d1f4c',
       '621f1d9c67922326997d1f6a', '62301d0a4388ed0eb0998a54',
       '62301d3d2f79a2538b998a53', '6230371963f4565d8b998a53',
       '6235a30e5cfcdd57405aa343', '623dda2d7c55e7180704dfca',
       '623dda6df77df1d4d204dfc9', '6263acc5367e283277f9a0ef'],
      dtype=object)

In [70]:
dic_currency = {}

In [71]:
for i in range(len(l)):
    if str(l[i]['_id']) in unique:
        dic_currency[str(l[i]['_id'])] = l[i]['currency_code']

In [72]:
dic_currency

{'5ffdb895b08512986422b08c': 'INR',
 '6013fbaaaadf53eb56518f43': 'INR',
 '613b51d1565006d4e2b60924': 'GBP',
 '615451dfe1e966fb58822ed6': 'EUR',
 '61b3133728133e8d9e12b44a': 'INR',
 '61b7ea05aa9248e907a3a4fe': 'USD',
 '61b8929c7f1731fdf842d921': 'INR',
 '61e83a4740598119fc405f5f': 'INR',
 '61f7720e169a5b91c7df71d3': 'INR',
 '6215bded0e0c2c6c8cdff5c1': 'INR',
 '621e270ca49d1163c27d1f49': 'INR',
 '621f017b51283da3bc7d1f4c': 'INR',
 '621f1d9c67922326997d1f6a': 'INR',
 '62301d0a4388ed0eb0998a54': 'INR',
 '62301d3d2f79a2538b998a53': 'INR',
 '6230371963f4565d8b998a53': 'INR',
 '6235a30e5cfcdd57405aa343': 'INR',
 '623dda2d7c55e7180704dfca': 'EUR',
 '623dda6df77df1d4d204dfc9': 'EUR',
 '6263acc5367e283277f9a0ef': 'EUR'}

In [80]:
frames = []
for i in range(len(l)):
    if str(l[i]['_id']) in dic_currency:
        e = df[df['accountId'] == str(l[i]['_id'])]
        e['cur'] = dic_currency[str(l[i]['_id'])]
        frames.append(e)

In [81]:
df = pd.concat(frames)

In [84]:
dic_account_type = {}
for i in range(len(l)):
    if str(l[i]['_id']) in unique:
        dic_account_type[str(l[i]['_id'])] = l[i]['profile_account_type']

In [86]:
frames = []
for i in range(len(l)):
    if str(l[i]['_id']) in dic_account_type:
        e = df[df['accountId'] == str(l[i]['_id'])]
        e['account_type'] = dic_account_type[str(l[i]['_id'])]
        frames.append(e)

In [87]:
df = pd.concat(frames)

In [89]:
df.to_csv("account_data.csv")

In [4]:
df.head(2)

,Unnamed: 0,accountId,adGroupId,campaignId,keywordId,date,sales,spend,clicks,impressions,orders,cur,account_type
0,0,5ffdb895b08512986422b08c,265947652253786,278924003146587,178532402627801,2022-01-20,0.0,2.81,1.0,7.0,0.0,INR,vendor
1,1,5ffdb895b08512986422b08c,102056862761827,57804152586859,217252402080046,2022-01-20,0.0,0.00,0.0,19.0,0.0,INR,vendor

In [9]:
df.shape

(4991898, 13)

In [12]:
db.account_details.find_one()['targetingType']

KeyError: 'targetingType'

In [4]:
db.campaigns.find_one({"targetingType":"auto"})

{'_id': ObjectId('610831d854eca898f8826620'),
 'account_id': '5ffdb895b08512986422b08c',
 'campaignId': 24504266710764,
 'campaign_type': 'sp',
 'bidding': {'strategy': 'legacyForSales',
  'adjustments': [{'predicate': 'placementTop', 'percentage': 20}]},
 'campaignType': 'sponsoredProducts',
 'dailyBudget': 1622.4,
 'last_updated': datetime.datetime(2023, 1, 24, 15, 20, 48, 553000),
 'name': 'DMUC001 Auto',
 'premiumBidAdjustment': True,
 'profile_id': '1480904248596993',
 'startDate': '20210104',
 'state': 'paused',
 'targetingType': 'auto',
 'portfolioId': 176795036374784,
 'automated': False}