In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import datetime
from adbrew_core.settings import db
from adbrew_core.db import accessor
from adbrew_core.utils import conversion_rates
from adbrew_core.rule_engine import rule_engine_variables
from adbrew_core.db import bid_management_task

mongodb://adb_prod:2y!nmDYd2f@mongo:27017/?authSource=admin

In [3]:
df = pd.read_csv("account_data.csv")

In [4]:
a = df['accountId'].unique()

In [5]:
a

array(['5ffdb895b08512986422b08c', '6013fbaaaadf53eb56518f43',
       '613b51d1565006d4e2b60924', '615451dfe1e966fb58822ed6',
       '61b3133728133e8d9e12b44a', '61b7ea05aa9248e907a3a4fe',
       '61b8929c7f1731fdf842d921', '61e83a4740598119fc405f5f',
       '61f7720e169a5b91c7df71d3', '6215bded0e0c2c6c8cdff5c1',
       '621e270ca49d1163c27d1f49', '621f017b51283da3bc7d1f4c',
       '621f1d9c67922326997d1f6a', '62301d0a4388ed0eb0998a54',
       '62301d3d2f79a2538b998a53', '6230371963f4565d8b998a53',
       '6235a30e5cfcdd57405aa343', '623dda2d7c55e7180704dfca',
       '623dda6df77df1d4d204dfc9', '6263acc5367e283277f9a0ef'],
      dtype=object)

In [6]:
df_sb = pd.DataFrame(columns = [['accountId', 'adGroupId', 'campaignId', 'keywordId', 'date', 'sales','spend', 'clicks', 'impressions', 'orders']])

In [49]:
db.report_records.find_one({"account_id":a[0],"campaign_type":"sb","record_type": "keywords"})

{'_id': ObjectId('63d0b9d26ee9dbf2febcce4f'),
 'account_id': '5ffdb895b08512986422b08c',
 'adGroupId': 167544699013884,
 'campaignId': 23622593494499,
 'campaign_type': 'sb',
 'dt': datetime.datetime(2023, 1, 25, 0, 0),
 'keywordId': 295707605243,
 'record_type': 'keywords',
 'segment': None,
 'attributedBrandedSearches14d': 0,
 'attributedConversions14d': 0,
 'attributedConversions14dSameSKU': 0,
 'attributedDetailPageViewsClicks14d': 0,
 'attributedOrderRateNewToBrand14d': 0,
 'attributedOrdersNewToBrand14d': 0,
 'attributedOrdersNewToBrandPercentage14d': 0,
 'attributedSales14d': 0,
 'attributedSales14dSameSKU': 0,
 'attributedSalesNewToBrand14d': 0,
 'attributedSalesNewToBrandPercentage14d': 0,
 'attributedUnitsOrderedNewToBrand14d': 0,
 'attributedUnitsOrderedNewToBrandPercentage14d': 0,
 'clicks': 0,
 'cost': 0,
 'dpv14d': 0,
 'impressions': 13,
 'last_updated': datetime.datetime(2023, 1, 25, 5, 10, 42, 741000),
 'profile_id': '1480904248596993',
 'str_dt': '20230125'}

In [50]:
def get_data_sb(account):
    last_date = pd.to_datetime("2023-01-20 00:00:00")
    record = db.report_records.aggregate([
            {
                "$match": {
                    "account_id": str(account),
                    "dt": {
                        "$gte": last_date - datetime.timedelta(days=365),
                        "$lte": last_date
                    },
                    "record_type":'keywords',
                    "segment":None,
                    "campaign_type":"sb"

                }
            },
            {
                "$project": {
                    "accountId":"$account_id",
                    "adGroupId":"$adGroupId",
                    "campaignId":"$campaignId",
                    "keywordId":"$keywordId",
                    "date":"$dt",
                    "sales":"$attributedSales14d",
                    "spend":"$cost",
                    "clicks":"$clicks",
                    "impressions":"$impressions",
                    "orders":"$attributedUnitsOrderedNewToBrand14d",
                    "campaign":"$campaign_type",
                    'units_sold_14_day':"$unitsSold14d",
                    "Conversions":"$attributedConversions14d"
                }
            }
        ], allowDiskUse=True)
    record = pd.DataFrame(record)
    if record.empty:
        return pd.DataFrame()
    if len(record["date"].unique()) < 330:
        return pd.DataFrame()
    record.drop(columns=["_id"], inplace=True)
    return record

In [51]:
frames = []
for i in range(len(a)):
    new_df_i = get_data_sb(a[i])
    frames.append(new_df_i)

In [52]:
new_df = pd.concat(frames)

In [53]:
new_df.to_csv("account_data_sb.csv")

In [11]:
def get_data_sd(account):
    last_date = pd.to_datetime("2023-01-20 00:00:00")
    record = db.report_records.aggregate([
            {
                "$match": {
                    "account_id": str(account),
                    "dt": {
                        "$gte": last_date - datetime.timedelta(days=365),
                        "$lte": last_date
                    },
                    "record_type":'campaigns',
                    "segment":None,
                    "campaign_type":"sd"

                }
            },
            {
                "$project": {
                    "accountId":"$account_id",
                    "adGroupId":"$adGroupId",
                    "campaignId":"$campaignId",
                    "keywordId":"$keywordId",
                    "date":"$dt",
                    "sales_14":"$attributedSales14d",
                    "spend":"$cost",
                    "clicks":"$clicks",
                    "impressions":"$impressions",
                    "orders_14":"$attributedUnitsOrdered14d",
                    "campaign":"$campaign_type",
                    "record_type":"$record_type",
                    "conversions":"$attributedConversions14d",
                    "conversion_30":"$attributedConversions30d",
                    "sales_30":"$attributedSales30d",
                    "orders_30":"$attributedUnitsOrdered30d",
                    "cost_type":"$costType",
                    "currency":"$currency",
                }
            }
        ], allowDiskUse=True)
    record = pd.DataFrame(record)
    if record.empty:
        return pd.DataFrame()
    if len(record["date"].unique()) < 330:
        return pd.DataFrame()
    record.drop(columns=["_id"], inplace=True)
    return record

In [12]:
frames_sd = []
for i in range(len(a)):
    new_df_i = get_data_sd(a[i])
    frames_sd.append(new_df_i)

In [13]:
new_df = pd.concat(frames_sd)

In [42]:
new_df.to_csv("account_data_sd.csv")

In [29]:
l = []
for i in a:
    l.append(db.report_records.find_one({"account_id":i,"campaign_type":"sd","record_type": "keywords"}))

In [30]:
l

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [33]:
df = pd.read_csv("account_data_sb.csv")
df.head(2)

,Unnamed: 0,accountId,adGroupId,campaignId,keywordId,date,sales,spend,clicks,impressions,campaign,Conversions,units_sold_14_day
0,0,5ffdb895b08512986422b08c,167544699013884,23622593494499,295707605243,2023-01-20,0.0,6.0,1,76,sb,0,NaN
1,1,5ffdb895b08512986422b08c,167544699013884,23622593494499,258275512168356,2023-01-20,0.0,0.0,0,3,sb,0,NaN

In [43]:
l = []
for i in a:
    l.append(db.report_records.find_one({"account_id":i,"campaign_type":"sb","record_type": "keywords"}))

In [37]:
df.shape

(3691241, 13)

##### No data for the sd campaign type where record_type  = keywords
##### how to get the data for the currency terms also

In [54]:
df =  pd.read_csv("account_data_sd.csv")

In [55]:
df.head(2)

,Unnamed: 0,accountId,campaignId,date,sales_14,spend,clicks,impressions,orders_14,campaign,record_type,conversions,conversion_30,sales_30,orders_30,cost_type,currency
0,0,5ffdb895b08512986422b08c,135733859217,2023-01-20,0.00,1765.79,93,44978,0,sd,campaigns,0,0,0.00,0,VCPM,INR
1,1,5ffdb895b08512986422b08c,11562064303296,2023-01-20,2285.59,726.83,39,18607,1,sd,campaigns,1,1,2285.59,1,VCPM,INR

In [13]:
db.report_records.find_one({"account_id":"5ffdb895b08512986422b08c","campaign_type":"sd","record_type": "targets"})

{'_id': ObjectId('63d0ba4b6ee9dbf2febcef2f'),
 'account_id': '5ffdb895b08512986422b08c',
 'adGroupId': 56844538656190,
 'campaignId': 135733859217,
 'campaign_type': 'sd',
 'dt': datetime.datetime(2023, 1, 25, 0, 0),
 'record_type': 'targets',
 'segment': None,
 'targetId': 278488565914020,
 'adGroupName': 'Ad group - 11/11/2022 17:15:37',
 'attributedConversions14d': 0,
 'attributedConversions14dSameSKU': 0,
 'attributedConversions1d': 0,
 'attributedConversions1dSameSKU': 0,
 'attributedConversions30d': 0,
 'attributedConversions30dSameSKU': 0,
 'attributedConversions7d': 0,
 'attributedConversions7dSameSKU': 0,
 'attributedOrdersNewToBrand14d': 0,
 'attributedSales14d': 0,
 'attributedSales14dSameSKU': 0,
 'attributedSales1d': 0,
 'attributedSales1dSameSKU': 0,
 'attributedSales30d': 0,
 'attributedSales30dSameSKU': 0,
 'attributedSales7d': 0,
 'attributedSales7dSameSKU': 0,
 'attributedSalesNewToBrand14d': 0,
 'attributedUnitsOrdered14d': 0,
 'attributedUnitsOrdered1d': 0,
 'attributedUnitsOrdered30d': 0,
 'attributedUnitsOrdered7d': 0,
 'attributedUnitsOrderedNewToBrand14d': 0,
 'campaignName': 'SD_DSL-20W RGB Combo',
 'clicks': 12,
 'cost': 147.01,
 'currency': 'INR',
 'impressions': 4204,
 'last_updated': datetime.datetime(2023, 1, 25, 5, 12, 43, 26000),
 'profile_id': '1480904248596993',
 'str_dt': '20230125',
 'tactic': 'T00020',
 'targetingExpression': 'category="1389107031"',
 'targetingText': 'category="Photography Lighting"',
 'targetingType': 'TARGETING_EXPRESSION',
 'viewAttributedConversions14d': 1,
 'viewAttributedSales14d': 1439.84,
 'viewAttributedUnitsOrdered14d': 1,
 'viewImpressions': 1774}

In [63]:
def get_data_sb(account):
    last_date = pd.to_datetime("2023-01-20 00:00:00")
    record = db.report_records.aggregate([
            {
                "$match": {
                    "account_id": str(account),
                    "dt": {
                        "$gte": last_date - datetime.timedelta(days=365),
                        "$lte": last_date
                    },
                    "record_type":'targets',
                    "segment":None,
                    "campaign_type":"sb"

                }
            },
            {
                "$project": {
                    "accountId":"$account_id",
                    "adGroupId":"$adGroupId",
                    "campaignId":"$campaignId",
                    "targetId":"$targetId",
                    "date":"$dt",
                    "sales":"$attributedSales14d",
                    "spend":"$cost",
                    "clicks":"$clicks",
                    "impressions":"$impressions",
                    "orders":"$attributedUnitsOrderedNewToBrand14d",
                    "campaign":"$campaign_type",
                    'units_sold_14_day':"$unitsSold14d",
                    "Conversions":"$attributedConversions14d"
                }
            }
        ], allowDiskUse=True)
    record = pd.DataFrame(record)
    if record.empty:
        return pd.DataFrame()
    if len(record["date"].unique()) < 330:
        return pd.DataFrame()
    record.drop(columns=["_id"], inplace=True)
    return record

In [64]:
frames_sb = []
for i in range(len(a)):
    new_df_i = get_data_sb(a[i])
    frames_sb.append(new_df_i)
new_df = pd.concat(frames_sb)

In [66]:
new_df.to_csv("account_data_sb_target.csv")

In [67]:
new_df

,accountId,adGroupId,campaignId,targetId,date,sales,spend,clicks,impressions,orders,campaign,units_sold_14_day,Conversions
0,5ffdb895b08512986422b08c,144282804961230380,144359166121047210,144228524284525899,2023-01-20,0.00,4.41,1,65,0.0,sb,0.0,0
1,5ffdb895b08512986422b08c,144282804961230380,144359166121047210,144345698105134240,2023-01-20,0.00,0.00,0,39,0.0,sb,0.0,0
2,5ffdb895b08512986422b08c,144282804961230380,144359166121047210,144191249102090404,2023-01-20,857.82,9.69,4,486,2.0,sb,2.0,1
3,5ffdb895b08512986422b08c,144282804961230380,144359166121047210,144278434242696472,2023-01-20,0.00,0.00,0,133,0.0,sb,0.0,0
4,5ffdb895b08512986422b08c,144282804961230380,144359166121047210,144228208269570117,2023-01-20,0.00,3.65,2,41,0.0,sb,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,623dda6df77df1d4d204dfc9,144238282881096037,144196425219477721,144310520389852544,2022-01-25,0.00,0.00,0,152,0.0,sb,0.0,0
601,623dda6df77df1d4d204dfc9,144221489101930465,144206215682568456,144373626394606496,2022-01-25,0.00,0.00,0,3,0.0,sb,0.0,0
602,623dda6df77df1d4d204dfc9,144221489101930465,144206215682568456,144125695611549252,2022-01-25,0.00,0.00,0,1,0.0,sb,0.0,0
603,623dda6df77df1d4d204dfc9,144238282881096037,144196425219477721,144310520389852544,2022-01-24,66.07,0.16,1,112,1.0,sb,1.0,1
604,623dda6df77df1d4d204dfc9,144221489101930465,144206215682568456,144373626394606496,2022-01-24,0.00,0.00,0,3,0.0,sb,0.0,0

In [69]:
df = pd.read_csv("account_data_sb_target.csv")

In [6]:
df = pd.read_csv("account_data.csv")

In [7]:
df.head(2)

,accountId,adGroupId,campaignId,keywordId,date,sales,spend,clicks,impressions,orders
0,5ffdb895b08512986422b08c,265947652253786,278924003146587,178532402627801,2022-01-20,0.0,2.81,1.0,7.0,0.0
1,5ffdb895b08512986422b08c,102056862761827,57804152586859,217252402080046,2022-01-20,0.0,0.00,0.0,19.0,0.0

In [8]:
df_sd = pd.read_csv("account_data_sd.csv")

In [9]:
df_sd.head(2)

,Unnamed: 0,accountId,campaignId,date,sales_14,spend,clicks,impressions,orders_14,campaign,record_type,conversions,conversion_30,sales_30,orders_30,cost_type,currency
0,0,5ffdb895b08512986422b08c,135733859217,2023-01-20,0.00,1765.79,93,44978,0,sd,campaigns,0,0,0.00,0,VCPM,INR
1,1,5ffdb895b08512986422b08c,11562064303296,2023-01-20,2285.59,726.83,39,18607,1,sd,campaigns,1,1,2285.59,1,VCPM,INR

In [10]:
dic = {}
for i in a:
    print(i)

5ffdb895b08512986422b08c
6013fbaaaadf53eb56518f43
613b51d1565006d4e2b60924
615451dfe1e966fb58822ed6
61b3133728133e8d9e12b44a
61b7ea05aa9248e907a3a4fe
61b8929c7f1731fdf842d921
61e83a4740598119fc405f5f
61f7720e169a5b91c7df71d3
6215bded0e0c2c6c8cdff5c1
621e270ca49d1163c27d1f49
621f017b51283da3bc7d1f4c
621f1d9c67922326997d1f6a
62301d0a4388ed0eb0998a54
62301d3d2f79a2538b998a53
6230371963f4565d8b998a53
6235a30e5cfcdd57405aa343
623dda2d7c55e7180704dfca
623dda6df77df1d4d204dfc9
6263acc5367e283277f9a0ef

In [12]:
len(df_sd['accountId'].unique())

16

In [15]:
def get_data_sd(account):
    last_date = pd.to_datetime("2023-01-20 00:00:00")
    record = db.report_records.aggregate([
            {
                "$match": {
                    "account_id": str(account),
                    "dt": {
                        "$gte": last_date - datetime.timedelta(days=365),
                        "$lte": last_date
                    },
                    "record_type":'targets',
                    "segment":None,
                    "campaign_type":"sd"

                }
            },
            {
                "$project": {
                    "accountId":"$account_id",
                    "adGroupId":"$adGroupId",
                    "campaignId":"$campaignId",
                    "targetId":"$targetId",
                    "date":"$dt",
                    "sales_14":"$attributedSales14d",
                    "spend":"$cost",
                    "clicks":"$clicks",
                    "impressions":"$impressions",
                    "orders_14":"$attributedUnitsOrdered14d",
                    "campaign":"$campaign_type",
                    "record_type":"$record_type",
                    "conversions":"$attributedConversions14d",
                    "conversion_30":"$attributedConversions30d",
                    "sales_30":"$attributedSales30d",
                    "orders_30":"$attributedUnitsOrdered30d",
                    "cost_type":"$costType",
                    "currency":"$currency",
                    "targetingText":"$targetingText",
                    "targetingExpression":"$targetingExpression",
                    "targetingType":"$targetingType",
                }
            }
        ], allowDiskUse=True)
    record = pd.DataFrame(record)
    if record.empty:
        return pd.DataFrame()
    if len(record["date"].unique()) < 330:
        return pd.DataFrame()
    record.drop(columns=["_id"], inplace=True)
    return record

In [16]:
a

array(['5ffdb895b08512986422b08c', '6013fbaaaadf53eb56518f43',
       '613b51d1565006d4e2b60924', '615451dfe1e966fb58822ed6',
       '61b3133728133e8d9e12b44a', '61b7ea05aa9248e907a3a4fe',
       '61b8929c7f1731fdf842d921', '61e83a4740598119fc405f5f',
       '61f7720e169a5b91c7df71d3', '6215bded0e0c2c6c8cdff5c1',
       '621e270ca49d1163c27d1f49', '621f017b51283da3bc7d1f4c',
       '621f1d9c67922326997d1f6a', '62301d0a4388ed0eb0998a54',
       '62301d3d2f79a2538b998a53', '6230371963f4565d8b998a53',
       '6235a30e5cfcdd57405aa343', '623dda2d7c55e7180704dfca',
       '623dda6df77df1d4d204dfc9', '6263acc5367e283277f9a0ef'],
      dtype=object)

In [17]:
frames_sd_targets = []
for i in range(len(a)):
    new_df_i = get_data_sd(a[i])
    frames_sd_targets.append(new_df_i)
new_df = pd.concat(frames_sd_targets)

In [20]:
new_df.to_csv("account_data_sd_targets.csv")

In [23]:
new_df['accountId'].nunique()

16

In [5]:
a

array(['5ffdb895b08512986422b08c', '6013fbaaaadf53eb56518f43',
       '613b51d1565006d4e2b60924', '615451dfe1e966fb58822ed6',
       '61b3133728133e8d9e12b44a', '61b7ea05aa9248e907a3a4fe',
       '61b8929c7f1731fdf842d921', '61e83a4740598119fc405f5f',
       '61f7720e169a5b91c7df71d3', '6215bded0e0c2c6c8cdff5c1',
       '621e270ca49d1163c27d1f49', '621f017b51283da3bc7d1f4c',
       '621f1d9c67922326997d1f6a', '62301d0a4388ed0eb0998a54',
       '62301d3d2f79a2538b998a53', '6230371963f4565d8b998a53',
       '6235a30e5cfcdd57405aa343', '623dda2d7c55e7180704dfca',
       '623dda6df77df1d4d204dfc9', '6263acc5367e283277f9a0ef'],
      dtype=object)

In [12]:
db.account_details.find_one()["profile_account_type"]

'vendor'