In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import datetime
from adbrew_core.settings import db
from adbrew_core.db import accessor
from adbrew_core.utils import conversion_rates
from adbrew_core.rule_engine import rule_engine_variables
from adbrew_core.db import bid_management_task
from adbrew_core.services.target import Target

mongodb://adb_prod:2y!nmDYd2f@mongo:27017/?authSource=admin

In [155]:
df = pd.read_csv("account_data.csv")

In [156]:
df.shape

(4991898, 18)

In [157]:
df.head(2)

,Unnamed: 0.1,Unnamed: 0,accountId,adGroupId,campaignId,keywordId,date,sales,spend,clicks,impressions,orders,cur,account_type,targetingType,aov,keywordText,matchType
0,0,0,5ffdb895b08512986422b08c,265947652253786,278924003146587,178532402627801,2022-01-20,0.0,2.810000,1.000000,7.000000,0.0,INR,vendor,manual,NaN,digitek porta light,exact
1,1,4007,5ffdb895b08512986422b08c,265947652253786,278924003146587,178532402627801,2022-01-21,0.0,1.304643,0.464286,5.928571,0.0,INR,vendor,manual,NaN,digitek porta light,exact

In [158]:
df.drop(columns=['Unnamed: 0','Unnamed: 0.1'],inplace=True)

In [159]:
df.head(2)

,accountId,adGroupId,campaignId,keywordId,date,sales,spend,clicks,impressions,orders,cur,account_type,targetingType,aov,keywordText,matchType
0,5ffdb895b08512986422b08c,265947652253786,278924003146587,178532402627801,2022-01-20,0.0,2.810000,1.000000,7.000000,0.0,INR,vendor,manual,NaN,digitek porta light,exact
1,5ffdb895b08512986422b08c,265947652253786,278924003146587,178532402627801,2022-01-21,0.0,1.304643,0.464286,5.928571,0.0,INR,vendor,manual,NaN,digitek porta light,exact

In [160]:
df.shape

(4991898, 16)

targets = [Target(o) for o in db.targets.find(...)]

In [161]:
db.targets.find_one({"campaign_type":"sp","expressionType":"manual"})

{'_id': ObjectId('6108323a54eca898f882d32b'),
 'account_id': '5ffdb895b08512986422b08c',
 'adGroupId': 100982662327951,
 'campaignId': 187931084775428,
 'campaign_type': 'sp',
 'targetId': 205018672949704,
 'expression': [{'type': 'asinSameAs', 'value': 'B0892ZXTFZ'}],
 'expressionType': 'manual',
 'last_updated': datetime.datetime(2023, 1, 25, 1, 19, 56, 775000),
 'profile_id': '1480904248596993',
 'resolvedExpression': [{'type': 'asinSameAs', 'value': 'B0892ZXTFZ'}],
 'state': 'enabled',
 'bid': 0.0}

In [162]:
a = list(df['accountId'].unique())

##### Campaign_type - sp ,expression type manual

In [163]:
l_manual = []
for i in a:
    e = db.targets.find({"account_id":i,"campaign_type":"sp","expressionType":"manual","state": "enabled"})
    l = []
    for j in e:
        l.append(j)
    l_manual.append(l)

In [164]:
l_manual[0][0]

{'_id': ObjectId('62d9553bdaf86ca08f2a71a5'),
 'account_id': '5ffdb895b08512986422b08c',
 'adGroupId': 176350136736382,
 'campaignId': 2118240769194,
 'campaign_type': 'sp',
 'targetId': 155431858861369,
 'bid': 1.57,
 'expression': [{'type': 'asinSameAs', 'value': 'B07WWYQG4S'}],
 'expressionType': 'manual',
 'last_updated': datetime.datetime(2023, 1, 25, 1, 19, 56, 792000),
 'profile_id': '1480904248596993',
 'resolvedExpression': [{'type': 'asinSameAs', 'value': 'B07WWYQG4S'}],
 'state': 'enabled'}

In [169]:
account_id = []
adGroupId = []
campaignId = []
campaign_type = []
targetId = []
expression = []
expressionType = []
resolvedExpression = []

In [170]:
for i in range(len(l_manual)):
    for j in range(len(l_manual[i])):
        account_id.append(l_manual[i][j]['account_id'])
        adGroupId.append(l_manual[i][j]['adGroupId'])
        campaignId.append(l_manual[i][j]['campaignId'])
        campaign_type.append(l_manual[i][j]['campaign_type'])
        targetId.append(l_manual[i][j]['targetId'])
        expression.append(l_manual[i][j]['expression'])
        expressionType.append(l_manual[i][j]['expressionType'])
        resolvedExpression.append(l_manual[i][j]['resolvedExpression'])

In [171]:
dic = {
    "account_id":account_id,
    "adGroupId":adGroupId,
    "campaignId":campaignId,
    "campaign_type":campaign_type,
    "targetId":targetId,
    "expression":expression,
    "expressionType":expressionType,
    "resolvedExpression":resolvedExpression
    }

In [172]:
df1 = pd.DataFrame(dic)

##### Campaign - sp , expressionType - auto

In [173]:
l_manual = []
for i in a:
    e = db.targets.find({"account_id":i,"campaign_type":"sp","expressionType":"auto","state": "enabled"})
    l = []
    for j in e:
        l.append(j)
    l_manual.append(l)

In [174]:
l_manual[1][0]

{'_id': ObjectId('6108324f54eca898f883053a'),
 'account_id': '6013fbaaaadf53eb56518f43',
 'adGroupId': 55523868945353,
 'campaignId': 4056946716897,
 'campaign_type': 'sp',
 'targetId': 275840055502943,
 'bid': 0.0,
 'expression': [{'type': 'queryHighRelMatches'}],
 'expressionType': 'auto',
 'last_updated': datetime.datetime(2023, 1, 25, 1, 19, 52, 97000),
 'profile_id': '2059681717094387',
 'state': 'enabled',
 'resolvedExpression': [{'type': 'queryHighRelMatches'}]}

In [175]:
account_id = []
adGroupId = []
campaignId = []
campaign_type = []
targetId = []
expression = []
expressionType = []
resolvedExpression = []

In [176]:
for i in range(len(l_manual)):
    for j in range(len(l_manual[i])):
        account_id.append(l_manual[i][j]['account_id'])
        adGroupId.append(l_manual[i][j]['adGroupId'])
        campaignId.append(l_manual[i][j]['campaignId'])
        campaign_type.append(l_manual[i][j]['campaign_type'])
        targetId.append(l_manual[i][j]['targetId'])
        expression.append(l_manual[i][j]['expression'])
        expressionType.append(l_manual[i][j]['expressionType'])
        try:
            resolvedExpression.append(l_manual[i][j]['resolvedExpression'])
        except:
            resolvedExpression.append("naaa")

In [177]:
l_manual[0][75]

{'_id': ObjectId('6108323c54eca898f882d97b'),
 'account_id': '5ffdb895b08512986422b08c',
 'adGroupId': 226905107621131,
 'campaignId': 72661061119046,
 'campaign_type': 'sp',
 'targetId': 187966223940912,
 'expression': [{'type': 'queryHighRelMatches'}],
 'expressionType': 'auto',
 'last_updated': datetime.datetime(2021, 10, 23, 4, 49, 9, 119000),
 'profile_id': '1480904248596993',
 'state': 'enabled',
 'bid': 0.0}

In [178]:
dic = {
    "account_id":account_id,
    "adGroupId":adGroupId,
    "campaignId":campaignId,
    "campaign_type":campaign_type,
    "targetId":targetId,
    "expression":expression,
    "expressionType":expressionType,
    "resolvedExpression":resolvedExpression
    }

In [179]:
df2 = pd.DataFrame(dic)

###### Campaign type - sb, expressionsType - manual

In [180]:
l_manual = []
for i in a:
    e = db.targets.find({"account_id":i,"campaign_type":"sb","expressionType":"manual","state": "enabled"})
    l = []
    for j in e:
        l.append(j)
    l_manual.append(l)

#### Campaign type - sd, expressionsType - manual

In [181]:
l_manual = []
for i in a:
    e = db.targets.find({"account_id":i,"campaign_type":"sd","expressionType":"manual","state": "enabled"})
    l = []
    for j in e:
        l.append(j)
    l_manual.append(l)

In [182]:
l_manual[0][0]

{'_id': ObjectId('637138b048a8a77e699c9d37'),
 'account_id': '5ffdb895b08512986422b08c',
 'adGroupId': 56844538656190,
 'campaignId': 135733859217,
 'campaign_type': 'sd',
 'targetId': 278488565914020,
 'bid': 150.92,
 'expression': [{'type': 'asinCategorySameAs', 'value': '1389107031'}],
 'expressionType': 'manual',
 'last_updated': datetime.datetime(2023, 1, 24, 17, 49, 59, 218000),
 'profile_id': '1480904248596993',
 'resolvedExpression': [{'type': 'asinCategorySameAs',
   'value': 'Photography Lighting'}],
 'state': 'enabled'}

In [183]:
account_id = []
adGroupId = []
campaignId = []
campaign_type = []
targetId = []
expression = []
expressionType = []
resolvedExpression = []

In [184]:
for i in range(len(l_manual)):
    for j in range(len(l_manual[i])):
        account_id.append(l_manual[i][j]['account_id'])
        adGroupId.append(l_manual[i][j]['adGroupId'])
        campaignId.append(l_manual[i][j]['campaignId'])
        campaign_type.append(l_manual[i][j]['campaign_type'])
        targetId.append(l_manual[i][j]['targetId'])
        expression.append(l_manual[i][j]['expression'])
        expressionType.append(l_manual[i][j]['expressionType'])
        try:
            resolvedExpression.append(l_manual[i][j]['resolvedExpression'])
        except:
            resolvedExpression.append("naaa")

In [185]:
dic = {
    "account_id":account_id,
    "adGroupId":adGroupId,
    "campaignId":campaignId,
    "campaign_type":campaign_type,
    "targetId":targetId,
    "expression":expression,
    "expressionType":expressionType,
    "resolvedExpression":resolvedExpression
    }

In [186]:
df3 = pd.DataFrame(dic)

#### Campaign type - sd, expressionsType - manual

In [187]:
l_manual = []
for i in a:
    e = db.targets.find({"account_id":i,"campaign_type":"sd","expressionType":"auto","state": "enabled"})
    l = []
    for j in e:
        l.append(j)
    l_manual.append(l)

In [188]:
account_id = []
adGroupId = []
campaignId = []
campaign_type = []
targetId = []
expression = []
expressionType = []
resolvedExpression = []

In [189]:
for i in range(len(l_manual)):
    for j in range(len(l_manual[i])):
        account_id.append(l_manual[i][j]['account_id'])
        adGroupId.append(l_manual[i][j]['adGroupId'])
        campaignId.append(l_manual[i][j]['campaignId'])
        campaign_type.append(l_manual[i][j]['campaign_type'])
        targetId.append(l_manual[i][j]['targetId'])
        expression.append(l_manual[i][j]['expression'])
        expressionType.append(l_manual[i][j]['expressionType'])
        try:
            resolvedExpression.append(l_manual[i][j]['resolvedExpression'])
        except:
            resolvedExpression.append("naaa")

In [190]:
dic = {
    "account_id":account_id,
    "adGroupId":adGroupId,
    "campaignId":campaignId,
    "campaign_type":campaign_type,
    "targetId":targetId,
    "expression":expression,
    "expressionType":expressionType,
    "resolvedExpression":resolvedExpression
    }

In [191]:
df4 = pd.DataFrame(dic)

In [192]:
final = [df1,df2,df3,df4]

In [193]:
new_df = pd.concat(final)

In [96]:
#new_df.to_csv("account_data_with_target.csv")

In [134]:
#new_df = pd.read_csv("account_data_with_target.csv")

In [197]:
new_df.shape

(49974, 8)

In [198]:
new_df.head(2)

,account_id,adGroupId,campaignId,campaign_type,targetId,expression,expressionType,resolvedExpression
0,5ffdb895b08512986422b08c,176350136736382,2118240769194,sp,155431858861369,"[{'type': 'asinSameAs', 'value': 'B07WWYQG4S'}]",manual,"[{'type': 'asinSameAs', 'value': 'B07WWYQG4S'}]"
1,5ffdb895b08512986422b08c,200240364298786,2290415637360,sp,150941008028048,"[{'type': 'asinSameAs', 'value': 'B082BKPTFD'}]",manual,"[{'type': 'asinSameAs', 'value': 'B082BKPTFD'}]"

In [200]:
#new_df.drop(columns = "Unnamed: 0",inplace = True)

In [201]:
len(new_df)

49974

In [206]:
new_df.iloc[0]['expression'][0]

{'type': 'asinSameAs', 'value': 'B07WWYQG4S'}

In [207]:
expression_type = []
expression_value = []
resolvedExpression_type = []
resolvedExpression_value = []

In [208]:
for i in range(len(new_df)):
    try:
        expression_type.append(new_df.iloc[i]['expression'][0]['type'])
    except:
        expression_type.append("naaa")

In [209]:
for i in range(len(new_df)):
    try:
        expression_value.append(new_df.iloc[i]['expression'][0]['value'])
    except:
        expression_value.append("naaa")

In [210]:
for i in range(len(new_df)):
    try:
        resolvedExpression_type.append(new_df.iloc[i]['resolvedExpression'][0]['type'])
    except:
        resolvedExpression_type.append("naaa")

In [211]:
for i in range(len(new_df)):
    try:
        resolvedExpression_value.append(new_df.iloc[i]['resolvedExpression'][0]['value'])
    except:
        resolvedExpression_value.append("naaa")

In [212]:
new_df["expression_type"] = expression_type
new_df["expression_value"] = expression_value
new_df["resolvedExpression_type"] = resolvedExpression_type
new_df["resolvedExpression_value"] = resolvedExpression_value

In [214]:
new_df.to_csv("account_data_with_target.csv")

In [215]:
new_df.head(2)

,account_id,adGroupId,campaignId,campaign_type,targetId,expression,expressionType,resolvedExpression,expression_type,expression_value,resolvedExpression_type,resolvedExpression_value
0,5ffdb895b08512986422b08c,176350136736382,2118240769194,sp,155431858861369,"[{'type': 'asinSameAs', 'value': 'B07WWYQG4S'}]",manual,"[{'type': 'asinSameAs', 'value': 'B07WWYQG4S'}]",asinSameAs,B07WWYQG4S,asinSameAs,B07WWYQG4S
1,5ffdb895b08512986422b08c,200240364298786,2290415637360,sp,150941008028048,"[{'type': 'asinSameAs', 'value': 'B082BKPTFD'}]",manual,"[{'type': 'asinSameAs', 'value': 'B082BKPTFD'}]",asinSameAs,B082BKPTFD,asinSameAs,B082BKPTFD

In [2]:
df_dif = pd.read_csv("account_data.csv")

In [3]:
df_dif

,Unnamed: 0.1,Unnamed: 0,accountId,adGroupId,campaignId,keywordId,date,sales,spend,clicks,impressions,orders,cur,account_type,targetingType,aov,keywordText,matchType
0,0,0,5ffdb895b08512986422b08c,265947652253786,278924003146587,178532402627801,2022-01-20,0.000000,2.810000,1.000000,7.000000,0.000000,INR,vendor,manual,NaN,digitek porta light,exact
1,1,4007,5ffdb895b08512986422b08c,265947652253786,278924003146587,178532402627801,2022-01-21,0.000000,1.304643,0.464286,5.928571,0.000000,INR,vendor,manual,NaN,digitek porta light,exact
2,2,6443,5ffdb895b08512986422b08c,265947652253786,278924003146587,178532402627801,2022-01-22,0.000000,0.806265,0.286927,6.719864,0.000000,INR,vendor,manual,NaN,digitek porta light,exact
3,3,8841,5ffdb895b08512986422b08c,265947652253786,278924003146587,178532402627801,2022-01-23,0.000000,0.559606,0.199148,9.558920,0.000000,INR,vendor,manual,NaN,digitek porta light,exact
4,4,11224,5ffdb895b08512986422b08c,265947652253786,278924003146587,178532402627801,2022-01-24,0.000000,0.413605,0.147191,10.978489,0.000000,INR,vendor,manual,NaN,digitek porta light,exact
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4991893,269547,4991703,6263acc5367e283277f9a0ef,111866482309718,263099273787888,160468520712295,2023-01-17,0.314443,0.072887,0.163853,53.212132,0.009251,EUR,seller,manual,33.99,mouse wireless logitech gaming,broad
4991894,269548,4991760,6263acc5367e283277f9a0ef,111866482309718,263099273787888,160468520712295,2023-01-18,0.270637,0.062733,0.141026,46.634827,0.007962,EUR,seller,manual,33.99,mouse wireless logitech gaming,broad
4991895,269549,4991841,6263acc5367e283277f9a0ef,111866482309718,263099273787888,160468520712295,2023-01-19,0.233158,0.054045,0.121496,41.422943,0.006860,EUR,seller,manual,33.99,mouse wireless logitech gaming,broad
4991896,269550,4991890,6263acc5367e283277f9a0ef,111866482309718,263099273787888,160468520712295,2023-01-20,0.201034,0.046599,0.104757,36.266968,0.005915,EUR,seller,manual,33.99,mouse wireless logitech gaming,broad
4991897,269551,4991312,6263acc5367e283277f9a0ef,182061219900184,263099273787888,62185071471550,2023-01-10,0.000000,0.000000,0.000000,1.000000,0.000000,EUR,seller,manual,NaN,mouse gaming wireless logitech,exact